
.aventurien-solo-overview table {
	font: normal 12px/1.5 Arial, sans-serif;
    color: #a99877;
    text-shadow: 1px 1px black;
	table-layout: fixed;
	min-width: 285px;
	border-spacing: 0;
    border-collapse: collapse;
	margin: 8px;
}

.aventurien-solo-overview-module-name {
    color: #fff;
	font-weight: bold;
}

.aventurien-solo-overview-module-player-name {
	width: 100%;
}

.aventurien-solo-overview-module-player-status {
	width: 130px;
	min-width: 130px;
}

.aventurien-solo-overview-module-player-ap {
	width: 50px;
	min-width: 50px;
	text-align: right;
}

.aventurien-solo-overview-module-player-path {
	position: absolute;
	top: inherit;
	right: inherit;
	margin-top: 3px;
	margin-right: 20px;
	padding: 0 3px;
	display: none;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 10px;
    font-weight: 400;
    line-height: 16px;
}

.aventurien-solo-overview-module-player-name:hover .aventurien-solo-overview-module-player-path {
	display: block;
}

.aventurien-solo-overview-module-player-name:hover .aventurien-solo-overview-module-player-path:empty {
	display: none;
}
